$primary-color:green;
$secondary-color:rgb(70, 245, 192);
$background-color:linear-gradient(90deg, rgba(58,180,131,1) 1%, rgba(13,123,204,0.9587185215883228) 58%);
$font-family: 'Press Start 2P', cursive;
